/* ===== Login box ===== */
.login-box {
  width: 60%;
  background: #6b6b6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ===== Formulario ===== */
.card {
  background: #474747;
  padding: 20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 340px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card p {
  text-align: center;
  font-size: 25px;
}

#alertBox {
  padding: 1px;
  margin: 1px;
  background-color: rgba(52, 52, 52, 0.204);
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
}

.input-group .icon {
  font-size: 1.3rem;
}

.input-group input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  flex: 1;
}

.input-group input::placeholder {
  color: #ccc;
}

/* ===== Botón ===== */

  /* -- Login page */
  .login-btn {
    background: #5a39ff;
    border: none;
    padding: 12px 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .login-btn:hover {
    background: #6a4fff;
  }