.row { 
    display:flex; 
    gap:25px; 
    margin-bottom:25px; 
}

.card { 
    background:#4e4e4e;
    max-width: 400px;
    padding:20px;
    border-radius:20px; 
    flex:1; 
}
    .card h2 {  
        font-size:24px; 
        display:inline
    }

    .card h3 { 
        display:inline;
        padding-left: 30px;
    }

    .card p { 
        margin: 0px;
    }

    .card a { 
        color:aquamarine;
    }
        .card a:visited {
            color:aquamarine
        }


.option {
    margin: 10px 0px;
}
    .option p {
        display: inline;
        margin: 0px 10px 0px 0px;
    }

    .option button {
        margin: 0px 10px 0px 0px;
    }


.btn.critical {
  background: #cc530257;
  border: 2px solid #cc5302;
  color: white;
  font-size: 15px;
  padding: 1px 4px;
  border-radius: 6px;
  cursor: pointer;
}
  .btn.critical:hover {
    background: #ff0000;
    border: 2px solid #ff0000;
  }