DB_HOST = 'localhost'
DB_PORT = 3308
DB_USER = 'root'
DB_PASS = ''
DB_NAME = 'test'

SMTP_HOST = 'smtp.gmail.com'
SMTP_PORT = 587
SMTP_SECURE = 'false'
SMTP_USER = 'your-email@gmail.com'
SMTP_PASS = 'your-app-password'
SMTP_FROM = 'your-email@gmail.com'