body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main_content {
  flex: 1;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  margin-top: 10%;
  background-color: #444444c2;
  padding: 10px;
  border-radius: 8px;
}


.main_header {
  justify-content: center;
}


/* ===== Sidebar ===== */

.nav {
  max-width: 500px;
  background: #47474700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_logo {
  max-width: 95%;
  display: flex;
  justify-content: center;
  margin: 40px;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.6));
}


/* ===== Login box ===== */
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: #6b6b6b00;
  border-radius: 1000px;
}

.login-box h2 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}


/* ===== Formulario ===== */
.card {
  display: flex;
  flex-direction: column;
  background: #474747;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 50px;
  border-radius: 20px;
  gap: 15px;
  min-width: 340px;
  
}
  .card p {
    text-align: center;
    font-size: 25px;
  }

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
}
  .input-group input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    flex: 1;
  }
    .input-group input::placeholder {
      color: #cccccc73;
    }

  .input-group .icon {
    font-size: 1.3em;
  }



/* ===== Botón ===== */

  /* -- Login page */
  .login-btn {
    background: #5a39ff;
    border: none;
    padding: 12px 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .login-btn:hover {
    background: #6a4fff;
  }


#alertBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
}
#alertBox p {
  max-width: 300px;
  background-color: rgba(52, 52, 52, 0.808);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: #ed4f4f;
  font-size: 25px;
}