/* ===== Estilo general > main ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #6b6b6b;
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}

/* ===== Sidebar ===== */
.nav {
  min-width: 190px;
  max-width: 220px;
  background: #474747;
  display: flex;
  flex: .7;
  flex-direction: column;
  justify-content: space-between;
}

.nav_logo {
  width: 80%;
  max-width: 250px;
  display: flex;
  justify-content: center;
  margin: 14px 20px;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.nav_menu {
  list-style: none;
  padding: 0;
  margin-top: 10vh;
}


.nav_menu li {
  padding: 14px 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

  .nav_menu li.active {
    background: #5a39ff;
    border-radius: 10px;
  }

  .nav_menu li:hover {
    background: #555;
    border-radius: 10px;
    transform: translateY(-5px);
  }


.nav footer {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  background: #333;
}

  .nav footer a {
    color: #ccc;
    text-decoration: none;
  }

    .nav footer a:visited {
      color: #ccc;
    }



/* ===== Main Content > iframe ===== */
.main_layout {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.main_div {
  display: flex;
  
}

  iframe#content-frame {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
  }

.main_content {
  flex: 1;
  max-width: 1200px;
}


.main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}



/* ===== Table ===== */
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  background: #707070;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #5a5a5a;
  text-align: left;
}

th, td {
  padding: 14px 18px;
  border-bottom: 1px solid #666;
}

tbody tr:hover {
  background: #808080;
}



/* ===== Context Menu ===== */
.context-menu {
  color: white;  /* medio innecesario, deberia quitarlo*/
  min-width: 480px;
  height: 90%;
  background-color: #8d8d8d;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}


/* ===== Status ===== */
.status.online {
  color: #9cff9c;
}

.status.warning {
  color: #ffd866;
}

.status.error {
  color: #f30e0e;
}



/* ===== Botones ===== */

.btn {
  background: #5a39ff57;
  border: 2px solid #5a39ff;
  color: white;
  font-size: 15px;
  padding: 1px 4px;
  border-radius: 6px;
  cursor: pointer;
}
  .btn:hover {
    background: #6c4fff21;
    border: 2px solid #6c4fff;
  }
  /* more at devices.css and login.css */