/* ===== Estilo general > main ===== */
* {
  box-sizing: border-box;
}

body {
  background-color:dimgrey;
  color: white;
}

#show-password {
  font-size: 18px;
}

.nav {
  min-width: 190px;
  max-width: 700px;
  background: #686868;
  display: flex;
  flex: .5;
  flex-direction: column;
  justify-content: space-between;
}

.nav_top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  max-width: 100%;
}

.nav_logo {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-drag: none;
  pointer-events: none;
}

.main_content {
  height: 90%;
  flex: .8;
}

.main_content h1 {
  margin: 5px;
}
.main_content p {
  margin: 5px;
}

.setup_header {
  padding: 15px;
}

.cards{
  padding: 15px;
}
.card { 
  background: #4e4e4e;
}

.option {
  display: grid;
  grid-template-columns: 1fr 1fr; /* texto | input */
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.option p {
  margin: 0;
  font-weight: 500;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #fff;
}

input {
  padding: 3px 4px;
  border: 2px solid #5a39ff;
  border-radius: 8px;
  background-color: #444;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:hover {
  border-color: #6c4fff;
}

.finish-btn{
  font-size: 20px;
  background-color: #6c4fff;
}